<!DOCTYPE HTML>

<html>
  <title> Aqui em... </title>

  <head>
    <link href='layout.css' rel='stylesheet' type='text/css'i>
  </head>

  <body>
    <div class="topmenu">
      <div class="menu">
	<a href="login.erb"> login </a>
      </div>
      <div class="menu">
	<a href="sign-in.erb"> sign-in </a>
      </div>
      <div class="menu">
	<a href="help.erb"> help </a>
      </div>
    </div> <br>
    <div class="main">
      <div id="form">
	<form method="post" action="index.erb">
	  <h1 id="title"> Aqui tem... </h1>
	  <input id="input" type="text" name="input"/>
	  <input class="submit" type="submit" name="submit">
	</form> <br>
      </div>
      <div class="content">
	<div id="posts">
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>	
	  <div class="nav"> Anteriores | Próximos </div>
	</div>
	<div class="sidebar">
	  <h1> Sidebar </h1>
	</div>
      </div>
    </div>
    <div class="bottommenu">
    </div>
  </body>


</html>
