<!DOCTYPE HTML>

<html>
  <title> Aqui em... </title>

  <head>
    <link href='layout.css' rel='stylesheet' type='text/css'i>
  </head>

  <body>
    <div class="topbar">
      <div id="logoandsearch">
	LOGO
	<input id="search" type="text" name="search">
	</input>
      </div>
      <div class="topmenu">
	<a href="login.erb"> login </a>
      </div>
      <div class="topmenu">
	<a href="about.erb"> about </a>
      </div>
    </div> <br>
    <div class="main">
      <div id="form">
	<form method="post" action="index.erb">
	  <h1 id="title"> Aqui tem... </h1>
	  <input id="input" type="text" name="input"/>
	  <input class="submit" type="submit" name="submit">
	</form> <br>
      </div>
      <div id="social">
	<form>
	  <input type="checkbox"> Facebook </input>
	  <input type="checkbox"> Twiter </input>
	  <input type="checkbox"> Google Plus </input>
	</form>
      </div>
      <div class="content">
	<div id="posts">
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>	
	  <div class="nav"> Anteriores | Próximos </div>
	</div>
	<div class="sidebar">
	  <div id="tagcloud">
	    <h1> Tag Cloud </h1>
	  </div> <hr/>
	  <div id="patrocinio">
	    <h1> Link Patrocinado </h1>
	  </div>
	</div>
      </div>
    </div>
    <div class="bottommenu">
    </div>
  </body>


</html>
