<!DOCTYPE HTML>

<html>
  <title> Aqui em... </title>

  <head>
    <link href='layout.css' rel='stylesheet' type='text/css'i>
  </head>

  <body>
    <div class="bar"> 
      <div class="topbar">
	LOGO
	<input id="search" type="text" name="search">
	</input>
	<a href="login.erb">  login  </a>
	<a href="about.erb">  about  </a>
      </div>
    </div>
    
    <div class="main">
      <div class="sidebar">
	<div id="userinfo">
	  <div id="user">
	    <h1> João Guilherme S. Morossini </h1>
	    <img src="/pic1.jpeg" height="45%" width="30%" />
	</div>
	<p class="bold"> Número de posts: </p> 52 <br />
	<p class="bold"> Seguidores: </p> 123 <br />
	  <p class="bold"> Principais tags: </p>
	  <p id="tags"> Lixo, Trânsito, Sujeira, Segurança, Transporte, Ponte, Roubos, Impostos </p>
	</div>
	<div id="tagcloud">
	  <h1> Tag Cloud </h1>
	  <img src="/cloud.jpeg" height="20%" width="20%" />
	</div>
	<div id="patrocinio">
	  <h1> Link Patrocinado </h1>
	  <img src="/banner.jpeg" height="80%" width="80%" />
	</div>
      </div>
      <div id="content">
	<div id="mainform">
	  <form method="post" action="index.erb">
	      <h1 id="title"> Aqui em FLORIPA tem... </h1>
	      <input id="input" type="text" name="input"/>
	      <input class="submit" type="submit" name="submit" value="Enviar">
	  </form>
	  <div id="social">
	    <form>
	      <input type="checkbox"> Facebook </input>
	      <input type="checkbox"> Twitter </input>
	      <input type="checkbox"> Google Plus </input>
	    </form>
	  </div>
	</div>
	<div id="posts">
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>
	  <div class="recent"> <p> Em Floripa tem... </p> </div>	
	  <div class="nav"> Anteriores | Próximos </div>
	</div>
      <div>
    </div>
  </body>
</html>
