<html>

  <head>
    <link href='layout.css' rel='stylesheet' type='text/css'i>

  </head>

  <body>
    <div class='topmenu'>
    </div>
    <div id='title'>
      Aqui em Floripa
    </div>
    <div id='main'>
      <div id='mainform'>
	<form action='/' method='post'>
	  <input id='input' name='input' type='text'>
	  </input>
	  <input id='submit' name='submit' type='submit' value='Enviar'>
	  </input>
	</form>
      </div>
      <div id='content'>
	<div id='posts'>
	  <!-- Mensagens de usuários -->
	</div>
	<div id='sidebar'>
	  <h2> Sidebar </h2>
	  <!-- Links e Trendy topics -->
	</div>
      </div>
    </div>

    <div id:'bottommenu'>
    </div>
    
    <script type="text/javascript">
      (function() {
	var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
	uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/z4La4bU65qA61aQQnvlZRA.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>

  </body>


</html>
