<!DOCTYPE HTML>

<html>
  <head>
    <link href='layout.css' rel='stylesheet' type='text/css'>
    <title> Aqui em... </title>
  </head>
  <body>
     <div class="topbarparent">
      <div class="topbar">
	<div id="links">
	  <a href="/login"> login </a>
	  <a href="/about"> about </a>
	  <a href="/contact"> contact </a> 
	</div>
      </div>
    </div>
    <div class="main clearfix">
      <div class="sidebar">
	<div id="user">
	  <h1> João Guilherme S. Morossini </h1>
	  <img src="/pic1.jpeg" alt="jongui" /> 
	  <p>
	    <b>Número de posts:</b> 52
	  </p>
	  <p> 
	    <b>Seguidores:</b>123
	  </p>
	  <b> Principais tags: </b>
	  <p id="tags"> Lixo, Trânsito, Sujeira, Segurança, Transporte, Ponte, Roubos, Impostos </p>
	</div>
	<div id="tagcloud">
	</div>
	<div id="patrocinio">
	</div>
      </div>
      <div id="content">
	<div id="mainform">
	  <form method="post" action="/">
	    <h1 id="title"> em FLORIPA tem... </h1>
	    <textarea id="input" name="input">Type your message here </textarea>
	    <input class="submit" type="submit" name="submit" value="Enviar" />
	  </form>
	  <div id="social">
	    <form>
	      <input type="checkbox" /> Facebook
	      <input type="checkbox" /> Twitter 
	      <input type="checkbox" /> Google + 
	    </form>
	  </div>
	</div>
	<div class="tabs">
	  <% selected = Hash.new('') -%>
	  <% selected[params[:tab]] = 'active' -%>
	  <a href="?tab=recent" class="<%= selected['recent'] -%>"> Recent </a>
	  <a href="?tab=featured" class="<%= selected['featured'] -%>"> Featured </a>
	</div>
	<div id="posts">
	  <% @posts.each do |post| %>
	    <div class="recent"><p><%= post.message %></p><%= post.created_at.strftime('%H:%M - %d/%m/%Y') -%></div>
	  <% end %>
	  <div class="nav"> Anteriores | Próximos </div>
	</div>
      </div>
    </div>
    <div class="footer">
      TESTE SITEMAP
    </div>
  </body>
</html>
