<!DOCTYPE HTML>

<html>
  <head>
    <link href='layout.css' rel='stylesheet' type='text/css'>
    <title> login </title>
  </head>
  
  <body>
    <div id="logincontainer">
      <div class="loginform">
	<form name="login" action="/login">
	  <div>
	    <label for="login">login</label>
	    <input id="login" type="text" name="login" />
	  </div>
	  <div>
	    <label for="password">password</label>
	    <input id="password" type="password" name="password" />
	  </div>
	  <div>
	    <input type="submit" name="submit" value="Submit" />
	  </div>
	</form>
      </div>
    </div>
  </body>
</html>
