<!DOCTYPE HTML>

<html>
  <head>
    <link href='layout.css' rel='stylesheet' type='text/css'>
    <title> sign up</title>
  </head>
  <body>
    <h1> Cadastro </h1>
    <div id="logincontainer">
      <% if @user && @user.errors.count > 0 -%>
	<div class="error">
	  <% @user.errors.each do |field,msg| -%>
	    <p><b><%= field.to_s -%></b>: <%= msg -%></p>
	  <% end -%>
	</div>
      <% end -%>
      <div class="loginform">
	<form name="signup" action="/signup" method="post">
	  <div>
	    <label for="name">nome</label>
	    <input id="name" type="text" name="name" />
	  </div>
	  <div>
	    <label for="username">usuário</label>
	    <input id="username" type="text" name="username" />
	  </div>
	  <div>
	    <label for="email">email</label>
	    <input id="email" type="text" name="email" />
	  </div>
	  <div>
	    <label for="password">senha</label>
	    <input id="password" type="password" name="password" />
	  </div>
	  <div>
	    <label for="repeat_password">confirme senha</label>
	    <input id="repeatpassword" type="password" name="password_confirmation" />
	    </div>
	  <div>
	    <input type="submit" name="submit" value="Confirmar" />
	  </div>
	</form>
      </div>
    </div>
  </body>
</html>
