/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset */

/* CLEARFIX -http://www.webtoolkit.info/css-clearfix.html */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* CLEARFIX */

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    color: #484848;
}

.topbarparent {
    overflow: auto;
    height: 50px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#111));
}

.topbar {
    width: 981px;
    margin-right: auto;
    margin-left: auto;
}

#links {
    margin-top: 15px;
    float: right;
}

#links a {
    padding-right: 8px;
    color: grey;
    text-shadow: 0px 2px 9px black;    
}

#links a:visited {
    color: grey;
}

#links a:hover {
    color: #2062BC;
    text-shadow: 0px 5px 9px grey;
}

.flash {
    float: left;
    width: 950px;
    height: 25px;
    padding: 5px;
    margin: 10px;
    margin-top: 0;
    margin-left: 8px;
    font-size: 1.5em;
    text-align: center;
    border: 1px dotted grey;
}

.flashsuccess {
    color: #2062BC;
}

.flashserror {
    color: red;
}

.flashnotice {
    font-style: oblique;
}

.loginform {
    width: 305px;
    margin: auto;
    margin-top: 50px;
    text-align: right;
    background-color: black;
    border-radius: 10px;
    color: white;
}

.loginform form {
    padding: 20px;
}

#logincontainer {
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#input {
    padding: 5px;
    color: grey;
}

.main {
    margin-right: auto;
    margin-left: auto;
    width: 981px;
    padding-top: 15px;
}

#content {
    width: 686px;
}

#mainform {
    padding-left: 5px;
    float: left;
    margin-top: 0px;
}

#mainform h1 {
    text-align: left;
}

#title {
    text-align: left;
    font-size: 24px;
}

#input {
    width: 600px;
    height: 70px;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    vertical-align: text-top;
}

.submit {
}

#social{    
    float: left;
    padding-top: 3px;
    padding-bottom: 15px;
}

.tabs {
    display: inline-block;
    float: left;
    margin-left: 1%;
}

.tabs a {
    color: grey;
    margin-right: 2px;
    padding: 5px;
    padding-bottom: 0px;
    padding-top: 2px;
    border-radius: 2px;
}

.tabs a.active {
    font-weight: bold;
    color: #2062BC;
    position: relative;
    top: -1px;
    border: 1px solid grey;
    border-bottom: 1px solid white;
    background: white;
}

#posts {
    height: 100%;
    width: 100%;
    float: left;
    overflow: hidden;
    border-top: 1px solid grey;
}

.message {
    border-radius: 2px;
    background: #E0E0E0;    
    color: #484848;
    height: 76px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    text-align: left;
}

.msgdetails {
    font-size: 0.75em;
    text-align: right;
    padding-right: 10px;
    position: relative;
    top: 30px;
}

#likes {
    display: inline;
    padding-right: 10px;
}

#likes input {
    position: relative;
    top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}



#likes form {
    display: inline;
}


p {
    padding: 10px;
}

.nav {
    text-align: right;
    padding: 15px;
}

.sidebar {
    width: 280px;
    background: #222328;
    color: #666;
    float: right;
    margin-right: 0.8%;
    height: 100%;
    border-radius: 5px;
}

#user {
    height: 244px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    font-size: 0.8em;
    text-align: left;
}

#user h1 {
    font-size: 1.3em;
    color: #2062BC;
    text-shadow: 0px 2px 9px black;  
    text-align: center;
}

#user p {
    padding: 0;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
}

#user img {
    height: 90px;
    width: 65px;
}

.userinfo {
    height: 90px;
    width: 195px;
    float: right;
    text-align: left;
}

#usertags {
    padding-top: 20px;
}

#tags {
    margin: 0;
    padding: 0;
    text-align: center;
}

#tagcloud {
    height: 245px;
    margin-bottom: 10px;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;    
    border-top: 1px solid grey;
}

#patrocinio {
    height: 245px;
    width: 95%;
    margin-left: auto;
    margin-right: auto; 
    border-top: 1px solid grey;    
}

#patrocinio p {
    margin-top: 40px;
    text-align: center;
    font-size: 2em;
}

#patrocinio img {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    margin-top: 10px;
}

h1 {
    padding: 10px;
    font-size: 1.2em;
}

a {
  text-decoration: none;
}
