/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset */

body {
    font-family: lucida grande;
}

.topmenu {
    height: 50px;
    background: black;
}

.menu {
    color: #FFFFFF;
    padding: 15px;
    float: right;
    font-size: 16px;
}

.main {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    border: 2px dotted black;
    min-height: 720px;
}

#title {
    text-align: left;
    padding-left: 140px;
    font-size: 24px;
}

#form {
    text-align: center;
    width: 100%;
    padding: 25px;
}

#input {
    width: 800px;
    height: 70px;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
}

.submit {
}

#posts {
    height: 100%;
    width: 70%;
    float: left;
}

.recent{
    width: 98%;
    margin-left: 1%;
    height: 76px;
    margin-bottom: 5px;
    background: #CCC;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

p {
    padding: 10px;
}

.nav {
    text-align: right;
    padding: 15px;
}

.sidebar {
    width: 29%;
    float: right;
    margin-right: 0.8%;
    background: #E4EDF7;
    border-radius: 10px;
    min-height: 520px;

}

.bottommenu {
    height: 80px;
    background: #E4EDF7;
    margin-top: 10px;
}

h1 {
    padding: 10px;
}

a:link {
  text-decoration: none;
  color: white;

}
